.row  {
color: #a39726;
font-family: Cinzel, Roboto;
font-size: xx-large;
text-align: center;
}

input {
    font-family: Cinzel, Roboto;
    font-size: x-large;
    text-align: center;
    color: #a39726;
}